body, textarea {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 13px;
	line-height: 1em;
}

#sidebar {
	width: 30em;
	margin-right: 5em;
	float:left;
}

#canvas {
	position: relative;
	margin: 0 1em;
}
#canvas canvas {
	border: 1px solid gray;
}
#canvas .pointer {
	position: absolute;
	left: 0; top: 0;
	width: 4px; height: 4px;
	background-color: #ff6600;
}

#comref{
	width: 20em;
}
#comref th {
	text-align: right;
}
#comref td {
	letter-spacing: 1px;
}

#console{}

#canvasarea{
	margin-left: 34em;
}

#footer {
	text-align: center;
	clear: both;
}
