body, textarea {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 14px;
}
#canvas {
	position: relative;
	margin: 0 1em;
}
#canvas canvas{
	border: 1px solid gray;
}
#canvas .pointer {
	position: absolute;
	left: 0; top: 0;
	width: 4px; height: 4px;
	background-color: #ff6600;
}

#comref th {
	text-align: right;
}
#comref td {
	letter-spacing: 1px;
}
#console{
	width: 40em;
	float: left;
}

#comref{
	width: 20em;
	float: left;
}

#canvasarea{
	clear: both;
	width: 100%;
}

